Package: com.a.uniquenamesimpletweak
Name: UniqueNameSimpleTweak
Version: 0.0.1
Architecture: iphoneos-arm64
Description: An awesome MobileSubstrate tweak!
Maintainer: Kudinov Denis
Author: Kudinov Denis
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
